extends layout

block content
	style.
		.add-top{
			padding-top: 15px;
		}

		.add-left{
			margin-left: 8px;
		}


	div(class='container-fluid')
		form(class='form-group',method='POST',action='/product/add')

			div(class='panel panel-default')
						div(class='panel-heading')
							h2(class='panel-title') Add New Product
						div(class='panel-body')
							if (message.length >0)
								div(class="form-group")
									div(class="alert alert-danger")= message
							
							div(class='container-fluid')
								div(class='form-group')
									div(class='col-lg-3')
										label(for='realname',class='control-label') Product Name
										input(type='text',class='form-control',name='name',placeholder='',id='realname', required='')
										span
								
									div(class='col-lg-3')
										label(for='realname',class='control-label') Unit Price
										input(type='password',class='form-control',name='price',placeholder='',id='realname',required='')
										span


			button(type='submit',class='btn btn-default',value='Submit') Submit
			button(type='button',class='btn btn-default add-left') Cancel