extends layout

block content
	style.
		.add-top{
			padding-top: 15px;
		}

		.add-left{
			margin-left: 8px;
		}


	div(class='container-fluid')
		form(class='form-group',method='POST',action='/staff/add')

			div(class='panel panel-default')
						div(class='panel-heading')
							h2(class='panel-title') Add New Staff
						div(class='panel-body')
							if (message.length >0)
								div(class="form-group")
									div(class="alert alert-danger")= message
							
							div(class='row')
								div(class='form-group')
									div(class='col-lg-3')
										label(for='realname',class='control-label') Username
										input(type='text',class='form-control',name='username',placeholder='',id='realname')
										span
							div(class='row')
								div(class='form-group add-top')
									div(class='col-lg-3')
										label(for='realname',class='control-label') Password
										input(type='password',class='form-control',name='password',placeholder='',id='realname')
										span

							div(class='row')
								div(class='form-group add-top')
									div(class='col-lg-3')
										label(for='realname',class='control-label') Confirm Password
										input(type='password',class='form-control',name='con_password',placeholder='',id='realname')
										span

							div(class='row')
								div(class='form-group add-top')
									div(class='col-lg-3')
										label(for='realname',class='control-label') Name
										input(type='text',class='form-control',name='name',placeholder='',id='realname')
										span
							div(class='row')
								div(class='form-group add-top')		
									div(class='col-lg-3')
										label(class='control-label',for='contact') Contact Number
										input(type='text',class='form-control',name='contact',placeholder='',id='contact')
										span

			button(type='submit',class='btn btn-default',value='Submit') Submit
			button(type='button',class='btn btn-default add-left') Cancel