doctype html
html
	head
		title= title
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
		script(src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js")
		script(src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js")
	body
		div(class='navbar navbar-inverse navbar-static-top')
			div(class='container-fluid')
				div(class='navbar-header')
					button(type='button',class='navbar-toggle collapsed',data-toggle='collapse',data-target='#navbar-collapse-8')
						span(class='sr-only') Toggle navigation
						span(class='icon-bar')
						span(class='icon-bar')
						span(class='icon-bar')
					a(class='navbar-brand' href='/') Autovacstore
				div(class='collapse navbar-collapse',id='navbar-collapse-8')
					ul(class='nav navbar-nav')
						li(class='active')
							a(href='/') Status
						li
							a(href='/addOrder') Add Order
						li
							a(href='/addStaff') Staff Registration
						li
							a(href='/addInvoice') Invoice
						li
							a(href='/postmanPanel') Postman Panel
		block content
