
doctype html
html
	head
		//
			uncomment when deploy
			link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
			link(rel='stylesheet' href='http://getbootstrap.com/examples/dashboard/dashboard.css')
			script(src="https://code.jquery.com/jquery-2.1.4.min.js")
			script(src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js")

		link(rel='stylesheet' href='/static/bootstrap.min.css')
		link(rel='stylesheet' href='/static/dashboard.css')
		script(src='/static/jquery-2.1.4.min.js')
		script(src='/static/bootstrap.min.js')
			
		style(type="text/css").
			.modal-footer {   
				border-top: 0px; 
			}
			.radio-push{
				margin-right:10px;
			}

			.radio-font{
				color: #777;
				font-family: Helvetica,Arial,sans-serif;
			}

		meta(name="viewport",content="width=device-width, initial-scale=1")

	body
		form(class="form col-md-12 center-block", method='POST',action='/auth')
			div(id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true")
				div(class="modal-dialog")
					div(class="modal-content")
						div(class="modal-header")
							button(type="button" class="close" data-dismiss="modal" aria-hidden="true") × 
							h1(class="text-center") Autovacstore
							p(class="text-center") DMS ver/1.0
						div(class="modal-body")
								if message.length> 0
									if message == "You have successfully logged out."
										div(class="form-group")
											div(class="alert alert-success")= message
									else
										div(class="form-group")
											div(class="alert alert-danger")= message
								div(class="form-group")
									input(type="text",class="form-control input-lg",placeholder="Username",name='username',required='')
								div(class="form-group")
									input(type="password",class="form-control input-lg",placeholder="Password",name='password',required='')
								div(class="form-group pull-right")
									label(class="radio-inline")
										p(class='radio-font') Select Account Type:
									label(class="radio-inline")
										input(type="radio" name="role" id="inlineRadio1" value="admin" required='') 
										p(class='radio-font') Administrator
									label(class="radio-inline")
										input(type="radio" name="role" id="inlineRadio2" value="staff" required='') 
										p(class='radio-push radio-font') Staff

								//
									div(class="form-group")
									a(href='/postman')= ">> Staff Login"
									
						div(class="modal-footer")
							div(class="col-md-12")
								button(type='submit', value="submit",class="btn btn-primary",data-dismiss="modal",aria-hidden="true") Sign In